.mainDiv{
    background-color: ghostwhite;
    border: 1px solid lightblue;
    border-radius: 0.25em;
    margin: 1em;
    padding: 1em;
    min-width: 300px;
}

.toDoForm{
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
    background-color: azure;
    /* border: 1px solid lightblue; */
    border-radius: 0.25em;
    padding: 1em;
}

.toDoLabel {
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0.25em;
}

.toDoField {
    margin-top: 1em;
    border: 2px solid lightblue;
    border-radius: 0.25em;
}

.button {
    border: 1px solid lightblue;
    border-radius: 0.25em;
    cursor: pointer;
}

.liHead {
    display: grid;
    grid-template-columns: 15% 25% 35% 25%;
    text-align: center;
}
.liItem{
    display: grid;
    grid-template-columns: 15% 25% 35% 25%;
    padding-bottom: 0.25em;
    text-align: center;
}
.toDoUl{
    list-style: none;
}
