.mainDiv{
    background-color: ghostwhite;
    border: 1px solid lightblue;
    border-radius: 0.25em;
    margin: 1em;
    padding: 1em;
    min-width: 300px;
    max-width: max-content;
}

.toDoForm{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    padding: 1em;
}

.toDoLabel {
    padding-bottom: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 0.25em;
}

.toDoField {
    margin-top: 1em;
    border: 2px solid lightblue;
    border-radius: 0.25em;
    
}
.toDoField:invalid {
    border-color: red;
}
.toDoField:required:valid {
    border-color: lightgreen;
}

.button {
    border: 1px solid lightblue;
    border-radius: 0.25em;
    cursor: pointer;
}

.liHead {
    display: grid;
    grid-template-columns: 15% 25% 35% 25%;
    text-align: center;
    background-color: lightblue;
    padding: 0.25em 0;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
}
.liItem{
    display: grid;
    grid-template-columns: 15% 25% 35% 25%;
    padding-bottom: 0.25em;
    text-align: center;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
    background-color:lightcyan;
}
.toDoUl{
    list-style: none;
    padding: 0;
    margin: 0;
}

.toDoChek{
    cursor: pointer;
}

.ModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.ModalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 250px;
    max-width: 75%;
    width: 100%;
    padding: 12px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.errorMsg{
    color: tomato;
}